<section class="pure-u-1 pure-u-lg-1-2 tile matches">
    <div class="tile-header">
        <h2>Find A Sandwich Buddy!</h2>
    </div>
    <div class="tile-body">
        <div class="match-req-info">
            <h3>Request Info</h3>
            <div class="right-opts">
                <a href="/request" class="pure-button">Change Request</a>
                <button type="button" class="pure-button cancel">Cancel Request</button>
            </div>
            <p>
                Location: <span class="get-loc-name" data-lat="{{req.loc.[1]}}" data-long="{{req.loc.[0]}}"></span><br>
                Number of Sandwiches: {{req.num_sandwiches}}<br>
                Distance: {{req.dist}} km<br>
                Expires <span class="get-time-left" data-time="{{req.expires_safe}}"></span><br>
                You Have: 
                <span>
                    {{#each req.have}}
                        <span class="want-have-list">
                            {{this}}
                        </span>
                    {{/each}}
                </span><br>
                You Want: 
                <span>
                    {{#each req.want}}
                        <span class="want-have-list">
                            {{this}}
                        </span>
                    {{/each}}
                </span>
            </p>
        </div>
        <br>
        <div id="req_getLocMap" data-lat="{{req.loc.[1]}}" data-long="{{req.loc.[0]}}"></div>
        <ul class="match-list">
            
        </ul>
        <script id="match-template" type="text/x-handlebars-template">
            \{{#each this}}
                <li>
                    <h3 class="capname">\{{label}} - \{{firstname}}</h3>
                    <div class="right-opts">
                        <button class="pure-button">Message</button>
                        <span class="star-score" data-score="\{{score}}"></span>
                    </div>
                    <p>
                        Location: <span class="get-loc-name" data-lat="\{{loc.[1]}}" data-long="\{{loc.[0]}}"></span><br>
                        Number of Sandwiches: \{{num_sandwiches}}<br>
                        Distance: \{{distance}} km<br>
                        Expires <span class="get-time-left" data-time="\{{expires}}"></span><br>
                        They Have: 
                        <span>
                            \{{#each have}}
                                <span class="want-have-list">
                                    \{{this}}
                                </span>
                            \{{/each}}
                        </span><br>
                        They Want: 
                        <span>
                            \{{#each want}}
                                <span class="want-have-list">
                                    \{{this}}
                                </span>
                            \{{/each}}
                        </span>
                    </p>
                </li>
            \{{else}}
                <li class="warning">
                    <h3>No Matches. Yet!</h3>
                    <p>New matches will appear here automatically!</p>
                </li>
            \{{/each}}
        </script>
    </div>
</section>