<section class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 tile about">
    <div class="tile-header">
        <h2>{{#if owner}}Your{{else}}{{firstname}}'s{{/if}} Profile</h2>
    </div>
    <div class="tile-body">
        <form class="pure-form pure-form-stacked" action="/profile" method="POST">
            <fieldset>
                <legend>Details</legend>
                {{#each formMessages}}
                    <span class="pure-form-message danger">
                        {{this}}
                    </span>
                    <br>
                {{/each}}
                
                <label for="prof_firstname">First Name:</label>
                <input id="prof_firstname" name="prof_firstname" type="text" required 
                maxlength="128" pattern="[\w][\w -]+" {{#unless owner}}readonly{{/unless}}
                value="{{firstname}}" class="pure-input-3-4"/>
                
                <label for="prof_lastname">Last Name:</label>
                <input id="prof_lastname" name="prof_lastname" type="text" required 
                maxlength="128" pattern="[\w][\w -]+" {{#unless owner}}readonly{{/unless}}
                value="{{lastname}}" class="pure-input-3-4"/>
                
                <label for="prof_createdAt">First Joined:</label>
                <input  id="prof_createdAt" readonly value="{{createdAt}}" class="stamp-to-time pure-input-3-4"/>
                
            </fieldset>
            <fieldset>
                <legend>Contact</legend>
                
                <label for="prof_email">Email:</label>
                <input id="prof_email" name="prof_email" type="email" required 
                maxlength="128"
                value="{{email}}" readonly class="pure-input-3-4"/>
                
            </fieldset>
            {{#if owner}}
            <fieldset>
                <legend>Change Password</legend>
                
                <label for="prof_oldpassword">Old Password:</label>
                <input id="prof_oldpassword" name="prof_oldpassword" type="password" required 
                maxlength="256" placeholder="ThisIsA100%StrongPassword" class="pure-input-3-4">
                
                <label for="prof_password">New Password:</label>
                <input id="prof_password" name="prof_password" type="password" required 
                maxlength="256" placeholder="ThisIsA300%StrongerPassword" class="pure-input-3-4">
                
                <label for="prof_password2">Confirm Password:</label>
                <input id="prof_password2" name="prof_password2" type="password" required 
                maxlength="256" placeholder="ThisIsA300%StrongerPassword" class="pure-input-3-4">
                
            </fieldset>
            {{/if}}
            <fieldset>
                <button type="submit" class="pure-button pure-button-primary">Save</button>
            </fieldset>
        </form>
    </div>
</section>