<section class="pure-u-1 pure-u-lg-1-2 tile request">
    <div class="tile-header">
        <h2>Find A Sandwich Buddy!</h2>
    </div>
    <div class="tile-body">
        <form class="pure-form pure-form-stacked" action="request" method="POST">
            <fieldset>
                <legend>Sandwich Request Details</legend>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-3">
                        <label for="req-num">Number Of Sanwiches:</label>
                        <input class="pure-u-23-24" id="req-num" name="req-num" type="number" required min="1" max="128" value="1" />
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                        <label for="req-dist">Max Distance From You (km):</label>
                        <input class="pure-u-23-24" id="req-dist" name="req-dist" type="number" required min="1" max="300" value="2" />
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                        <label for="req-end">End Request on:</label>
                        <input class="pure-u-23-24 c-datepicker-input" id="req-end" name="req-end" type="datetime" required readonly />
                    </div>
                    <div class="pure-u-1">
                        <label for="req-loc">Location:</label>
                        <input class="pure-u-5-6" id="req-loc" name="req-loc" type="text" required />
                        <input id="req-lat" name="req-lat" type="hidden" />
                        <input id="req-long" name="req-long" type="hidden" />
                        <button type="button" class="pure-button getloc"><i class="material-icons">my_location</i></button>
                    </div>
                </div>
                <div id="req_getLocMap"></div>
            </fieldset>
            <fieldset>
                <legend>Sandwich Ingredients</legend>
                <div class="req-ing-wrap">
                    <table class="pure-table pure-table-horizontal req-ing-table">
                        <thead>
                            <tr>
                                <th>
                                    <input id="req-ing-search" placeholder="Search for ingredients" type="text" />
                                    <button class="pure-button"><i class="material-icons">search</i></button>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each ingredients}}
                                <tr data-text="{{name}} {{#each tags}}{{this}} {{/each}}">
                                    <td>
                                        <span class="capname name">{{name}}</span>
                                        <br>
                                        <span class="tags">{{#each tags}}{{this}} {{/each}}</span>
                                    </td>
                                    <td>
                                        <input id="req-want-{{@index}}" name="req-want" type="checkbox" value="{{name}}" {{#if want}}checked{{/if}} />
                                        <label for="req-want-{{@index}}" class="pure-button">Want</label>
                                    </td>
                                    <td>
                                        <input id="req-have-{{@index}}" name="req-have" type="checkbox" value="{{name}}" {{#if have}}checked{{/if}} />
                                        <label for="req-have-{{@index}}" class="pure-button">Have</label>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <table class="pure-table pure-table-horizontal req-want-table">
                        <thead>
                            <tr>
                                <th>I Want:</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each ingredients}}
                                {{#if want}}<tr><td>{{name}}</td></tr>{{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                    <table class="pure-table pure-table-horizontal req-have-table">
                        <thead>
                            <tr>
                                <th>I Have:</th>
                            </tr>
                        </thead>
                            {{#each ingredients}}
                                {{#if have}}<tr><td>{{name}}</td></tr>{{/if}}
                            {{/each}}
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <fieldset>
                <legend>Send Out That Request!</legend>
                <button class="pure-button" type="submit">Submit</button>
            </fieldset>
        </form>
    </div>
</section>